<div style="margin:auto;width:1000px">
  <mat-horizontal-stepper>
    <mat-step formGroupName="0">
      <ng-template matStepLabel>Tab 1</ng-template>
      <ng-template matStepLabel>Fill out your name</ng-template>
      <div class="clearfix">
        <h3 class="subtitle">Contact Information</h3>
        <div class="col-6">
          <input class="input" type="text" placeholder="First Name">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="Last Name">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="Middle Name">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="DOB">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="Mobile Number">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="Home Number">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="Email1">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="Email2">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="Address">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="State">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="City">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="Country">
        </div>
        <h3 class="subtitle">Employment</h3>
        <div class="col-6">
          <input class="input" type="text" placeholder="Job Title">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="Total Experience">
        </div>
        <div class="col-6">
          <div class='select full-width'>
            <select class="full-width">
              <option>Work Authorisation</option>
              <option>Need H1B Visa</option>
              <option>Have H1B Visa</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="select full-width">
            <select class="full-width">
              <option>Education</option>
              <option>Bachelore</option>
              <option>Masters</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="Hourly Rate">
        </div>
        <div class="col-6">
          <input class="input" type="text" placeholder="Annual Salary">
        </div>
        <div class="col-6">
          <input class="input" placeholder="Security Clearance">
        </div>
    
        <div class="col-6">
          <input class="input" placeholder="Willing to Travel">
        </div>
        <div class="col-6">
          <div class="select full-width">
            <select class="full-width">
              <option>
                Fulltime
              </option>
              <option>
                Parttime
              </option>
              <option>
                Contract –1099
              </option>
              <option>
                Contract – C2C
              </option>
              <option>
                Contract –W2
              </option>
              <option>
                Contract –to-Hire
              </option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <input class="input" placeholder="Job Type">
        </div>
        <div class="col-6">
          <input class="input" placeholder="Willing to Relocate">
        </div>
        <div class="col-6">
          <input class="input" placeholder="Source">
        </div>
        <div class="col-6">
          <input class="input" placeholder="UserId">
        </div>
        <div class="col-6">
          <input class="input" placeholder="Ownership">
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="right button is-primary">Finish</button>
      </div>
    </mat-step>
    <mat-step formGroupName="1">
      <ng-template matStepLabel>Tab 2</ng-template>
      <div class="clearfix">
        <h3>Experience Details</h3>
        <div class="section">
          <div class="clearfix section-header">
            <div class="half-width section-title">Resume</div>
            <div class="right link" (click)="openDialog()">Add More</div>
          </div>
          <table class="full-width">
            <thead>
              <tr>
                <th>Attachment</th>
                <th>Source</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Resume1.docx
                </td>
                <td>
                  Direct Sourcing
                </td>
                <td>
                  <mat-icon>create</mat-icon>
                </td>
              </tr>
              <tr>
                <td>
                  Resume2.docx
                </td>
                <td>
                  Indirect Sourcing
                </td>
                <td>
                  <mat-icon>create</mat-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="section">
          <div class="clearfix section-header">
            <div class="half-width section-title">Documents</div>
            <div class="right link">Add More</div>
          </div>
          No Records Found
        </div>
        <div class="section">
          <div class="clearfix section-header">
            <div class="half-width section-title">Education</div>
            <div class="right link">Add More</div>
          </div>
          No Records Found
        </div>
        <div class="section">
          <div class="clearfix section-header">
            <div class="half-width section-title">Work Experience</div>
            <div class="right link">Add More</div>
          </div>
          <table class="full-width">
            <thead>
              <tr>
                <th>Employer</th>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>City</th>
                <th>Country</th>
                <th>State</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Tenet Health Care
                </td>
                <td>
                  Sr. Java Developer
                </td>
                <td>
                  08/01/2018
                </td>
                <td>
                  07/01/2019
                </td>
                <td>
                  Chicago
                </td>
                <td>
                  USA
                </td>
                <td>
                  Atalanta
                </td>
                <td>
                  <mat-icon>create</mat-icon>
                  <mat-icon>delete</mat-icon>
                </td>
              </tr>
              <tr>
                <td>
                  Newtech Inc
                </td>
                <td>
                  Sr. Java Architect
                </td>
                <td>
                  08/01/2018
                </td>
                <td>
                  07/01/2019
                </td>
                <td>
                  Chicago
                </td>
                <td>
                  USA
                </td>
                <td>
                  Atalanta
                </td>
                <td>
                  <mat-icon>create</mat-icon>
                  <mat-icon>delete</mat-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="section">
          <div class="clearfix section-header">
            <div class="half-width section-title">Reference Details</div>
            <div class="right link">Add More</div>
          </div>
          No Records Found
        </div>
        <div class="section">
          <div class="clearfix section-header">
            <div class="half-width section-title">Certification Details</div>
            <div class="right link">Add More</div>
          </div>
          No Records Found
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="right button is-primary">Finish</button>
      </div>
    </mat-step>
    <mat-step formGroupName="2">
      <ng-template matStepLabel>Tab 3</ng-template>
      <div class="clearfix">
        <h3>HR</h3>
        <div class="col-6">
          <input class="input" placeholder="DOB">
        </div>
        <div class="col-6">
          <input class="input" placeholder="SSN">
        </div>
        <div class="col-6">
          <input class="input" placeholder="DOE">
        </div>
        <div class="col-6">
          <input class="input" placeholder="DOT">
        </div>
        <div class="col-6">
          <input class="input" placeholder="Hourly Salary">
        </div>
        <div class="col-6">
          <input class="input" placeholder="Annual Salary">
        </div>
        <div class="col-6">
          <input class="input" placeholder="Bonus">
        </div>
        <div class="col-12">
          <input class="input" placeholder="Notes">
        </div>
      </div>
      <div>
        <button matStepperNext type="button" class="right">Finish</button>
      </div>
    </mat-step>
    <mat-step formGroupName="3">
      <ng-template matStepLabel>Tab 4</ng-template>
      <div class="clearfix">
        <h3>Immigration</h3>
        <div class="col-6">
          <input class="input" placeholder="Work Authorization">
        </div>
        <div class="col-6">
          <input class="input" placeholder="Visa Expiry">
        </div>
        <div class="col-6">
          <input class="input" placeholder="LCA Amend/Ext Filed Date">
        </div>
        <div class="col-6">
          <input class="input" placeholder="Location">
        </div>
        <div class="col-6">
          <input class="input" placeholder="Labor/GC filed Date">
        </div>
        <div class="col-6">
          <input class="input" placeholder="Status of Labor/GC">
        </div>
        <div class="col-6">
          <input class="input" placeholder="I-485 filed Date">
        </div>
        <div class="col-6">
          <input class="input" placeholder="Status of I-485">
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="right button is-primary">Finish</button>
      </div>
    </mat-step>
    <mat-step formGroupName="4">
      <ng-template matStepLabel>Tab 5</ng-template>
      <div class="col-12">
        <input class="input" placeholder="Notes">
      </div>
      <div>
        <button mat-button matStepperNext type="button" class="right">Finish</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
