<div style="margin:auto;width:800px;margin-top: 30px">
  <!-- <div>Dashb</div>
<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div style="display: block">
  <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>
</div>
<div style="display: block">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div> -->
  <input type="file" class="upload" (change)="changeListener($event.target.files)">
  <table style="width: 400px">
    <tr>
      <th>Fields</th>
      <th>Heading</th>
    </tr>
    <tr style="margin-top: 30px" *ngFor=" let item of tableHeaders;let index = index;">
      <td>{{item}} </td>
      <td>
        <!--  <select  [(ngModel)]="selectedValue[index]"  >
         <option *ngFor="let head of headersArr" [selected]="head === tableHeaders[index]" [ngValue]="head">{{head}} </option>
       </select> -->
        <mat-form-field>
          <mat-select [compareWith]="compareFn" placeholder="Select"  [(ngModel)]="selectedValue[index]" >
            <mat-option *ngFor="let head of headersArr" [value]="head">
              {{ head }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <div>
    <button (click)="createObj()">Submit</button>
  </div>
</div>
