/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
*
{
	box-sizing: border-box;
}
body
{
	font-size: 14px;
	color:#666;
}
.col-6
{
	width:50%;
	padding:50px;
	float: left;
}
.col-12
{
	width:100%;
	padding:50px;
	float: left;
}
.right
{
	float:right;
}
.clearfix:after
{
	content: '';
	display: block;
	clear: both;
}
.full-width
{
	width:100%;
}
.half-width
{
	float: left;
	width:50%;
}
.link
{
	color:#4e7cd1;
}
.section-title
{
	font-weight: bold;
	margin-bottom: 20px;
}
.section-header
{
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;	
}
.mat-form-field
{
	padding-bottom: 0;
	padding-top: 0;
}
.section table th
{
	text-align: left;
	font-size: 12px;
}
.mat-form-field-infix
{
	border-top:0px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper
{
	padding-bottom: 0.95rem;
}